@import '~react-vertical-timeline-component/style.min.css';
@import '~react-toastify/dist/ReactToastify.css';

body {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #ffffff;
}
@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PLAYBALL";
  src: url("./assets/font/Playball-Regular.ttf");
}
* {
  font-family: 'BMHANNAAir', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium,
  HelveticaNeue, sans-serif;
  box-sizing: border-box;
  color: #24292f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5em;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}
h1 {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 100%;
}
.footer {
  background-color: #ea728e;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
.section {
  background-size: contain !important;
  width: 100%;
  height: 100vh;
  max-width: 60rem;
  &-main {
    display: grid;
    background: url("/assets/images/main.gif") no-repeat center #000000;
  }
  &-invitation {
    background: url("/assets/images/invitation.png") no-repeat center #ffffff;
  }
  &--margin {
    margin: 30px;
    max-width: 60rem;
    &__gallery {
      width: 85%
    }
  }
  &__banner {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
  }
  &-card {
    display: grid;
    width: 100%;
    border: 1px solid #eaeef2;
    border-radius: 12px;
    margin-bottom: 30px;
  }
  &__profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px 20px 0 20px;
    &--img {
      width: 20vw;
      border-radius: 50px;
      margin-right: 16px;
      max-width: 100px;
    }
    &--row {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  &__connect {
    display: grid;
    grid-template-rows: 2fr 1fr;
    &__group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      align-self: center;
      align-items: center;
    }
    &__set {
      margin-bottom: 30px;
    }
  }
  &-gallery {
    display: grid;
    margin-bottom: 50px;
  }
  &-space {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 20px;
  }
  &-paragraph {
    margin-top: 10px;
    &__title {
      font-size: 18px;
      font-family: 'BMHANNAPro', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
    }
    &__description {
      font-size: 18px;
    }
  }
  &-title {
    text-align: center;
    font-family: 'BMHANNAPro', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
    font-size: 42px;
    //margin-top: 100px;
    color: #ea728e;
  }
  &-subtitle {
    text-align: center;
    font-family: 'BMHANNAPro', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
    font-size: 18px;
    color: #ea728e;
    margin-bottom: 30px;
  }
  &-date {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 70%;
    max-width: 60rem;
    &-parent {
      position: relative;
      width: 100%;
      max-width: 60rem;
    }
  }
}
.date {
  display: grid;
  font-size: 30px;
  text-align: center;
  color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  &-title {
    grid-template-columns: 1fr;
    font-size: 30px;
    text-align: center;
    color: #000000;
    font-family: 'BMHANNAPro', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
  }
  &-format {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
  }
  &-data {
    color: #65686c;
    font-size: 30px;
    font-family: "BMHANNAAir", "Noto Sans KR", "맑은고딕", MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
  }
  &-unit {
    color: #65686c;
  }
}
.bg {
  width: 100%;
  max-width: 60rem;
  margin: 30px 0;
  &-opacity {
    opacity: 0.5;
  }
}
.line {
  &-title {
    font-family: 'BMHANNAPro', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
    font-size: 32px;
    margin: 10px;
    color: #ea728e;
  }
}
.map {
  //width: 80vw;
  height: 80vw;
  max-width: 60rem;
  max-height: 60rem;
}
.name {
  font-size: 26px;
  line-height: 1.25;
  align-self: center;
}
.nickname {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  align-self: center;
  margin-right: 10px;
  color: #4b4b4b;
}
.information {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  align-self: center;
  color: #4b4b4b;
  p {
    display: inline-block;
  }
}
.account {
  font-weight: bold;
  text-decoration: underline;
}
.separation {
  font-size: 16px;
  padding: 5px 20px 10px 20px;
}
.end {
  padding-top: 0;
}
.title {
  margin: 0 20px;
  font-size: 16px;
}
.description {
  margin: 0 20px;
}
.last {
  border-bottom: 1px solid #eaeef2;
  padding: 5px 20px;
  margin: 0;
}
.top {
  border-top: 1px solid #eaeef2;
  padding: 5px 20px;
}
.one {
  grid-template-columns: 1fr;
}
.call {
  display: inline-grid;
  justify-self: center;
  align-content: center;
}
.icon {
  &--connect {
    width: 40px;
    margin: 5px;
  }
}
.banner {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 30px;
}
.btnGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
}
.btn {
  &__kakao {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    background: url('/assets/images/icon_kakao.png') no-repeat center;
    background-size: 45px;
    border: transparent;
    position: fixed;
    bottom: 9rem;
    right: 1rem;
  }
  &__copy {
    width: 45px;
    height: 45px;
    background: url("/assets/images/icon_link.png");
    background-size: 45px;
    border: transparent;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
  }
  &__top {
    width: 45px;
    height: 45px;
    background: url("/assets/images/icon_top.png");
    background-size: 45px;
    border: transparent;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: -10;
  }
}
.hide {
  z-index: -10;
}
.active {
  z-index: 10;
  opacity: 1;
}
a {
  text-decoration: none;
}
.text {
  &-banner {
    font-family: 'PLAYBALL', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
    font-size: 30px;
    margin-top: 30px;
    color: #e1e5e9;
    font-weight: bold;
  }
}

/* scroll style */
html {
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (max-width:640px) {
  .arrow-down {
    display: grid;
    margin-top: auto;
    margin-bottom: 20px;
    span {
      position: absolute;
      bottom: 15px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 2s infinite;
      animation: sdb 2s infinite;
      opacity: 0;
      box-sizing: border-box;
    }

    span:nth-of-type(3) {
      bottom: 47px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }

    span:nth-of-type(2) {
      bottom: 31px;
      -webkit-animation-delay: .15s;
      animation-delay: .15s;
    }

    span:nth-of-type(1) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
/* timeline style */

.vertical-timeline-element-title {
  font-size: 18px;
  font-family: 'BMHANNAPro', 'Noto Sans KR', '맑은고딕', MalgunGothic, AppleSDGothicNeo-Medium, HelveticaNeue, sans-serif;
}

.vertical-timeline-element-description {
  font-size: 16px !important;
}

.vertical-timeline-element-date {
  font-size: 16px !important;
}

.vertical-timeline {
  width: 70%;
}
.timeline-line::before {
  background: #ea728e;
}

/* toastify style */
.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #ea728e;
}
.Toastify__toast-body > div:last-child {
  color: #ffffff;
}
svg {
  fill: #ffffff;
}
